{% extends "admin_panel/base.html" %}

{% block title %}All Apps {% endblock %}

{% block content %}
<div class = "container">
    <h2>All Apps</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Points</th>
            <th>Status</th>
        </tr>
           {% for app in apps %}
           <tr>
        <td>{{app.name}}</td>
         <td>{{app.description}}</td>
         <td>{{app.points}}</td>
          <td>{{app.status}}</td>
               <td>
                   <a href="{%url 'admin_panel:edit_app' app.id %}">Edit</a>
                   <a href="{%url 'admin_panel:delete_app' app.id%}">Delete</a>
               </td>
        </tr>
          {% empty %}
        <tr>
            <td colspan="4">No apps found.</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'admin_panel:custom_admin_dashboard' %}">Back to Dashboard</a>
</div>
{% endblock  %}