{% extends "admin_panel/base.html" %}

{% block content %}
<div class="container">
    <h2>User Submissions</h2>
    <table border="1">
        <tr>
            <th>User</th>
            <th>App</th>
            <th>Screenshot</th>
            <th>Submitted At</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% if submissions %}
           {% for sub in submissions %}
        <tr>
            <td>{{sub.user.username}}</td>
            <td>{{sub.app.name}}</td>
        <td>
            {% if sub.screenshot %}
                <img src="{{sub.screenshot.url }}" width="100" >
        {% else %}
            No screenshot
        {% endif %}
        </td>
        <td>{{sub.submitted_at}}</td>
        <td>{{sub.approved|yesno:"Approved,Pending" }}</td>
        <td>
        {% if not sub.approved %}
        <a href="{% url 'approve_submission' sub.id %}">Approve</a>
        <a href="{% url 'reject_submission' sub.id %}">Reject</a>
        {% else %}
        {% endif %}
        </td>
        </tr>
        {% endfor %}
        {% else %}
<tr>
        <td colspan="6">No submissions found.</td>
</tr>
        {% endif %}
    </table>
    <br>
    <a href="{% url 'admin_panel:custom_admin_dashboard' %}">Back to Dashboard</a>
</div>
{% endblock %}