# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
ENV/
env/

# Django database
db.sqlite3

# Django static and media files
/staticfiles/
/media/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
